<div class="row">

    <div class="col-md-12">
        <h1 style="text-align: center; color:lightblue;">Cadastro/Editar</h1>
    </div>

</div>

<div class="row">

    <div class="col-md-12 form-group">
        <input placeholder="titulo" class="form-control" [(ngModel)]="produtoService.currentProduto.titulo">
    </div>

</div>

<div class="row">

    <div class="col-md-12 form-group">
        <input placeholder="preço" class="form-control" [(ngModel)]="produtoService.currentProduto.preco">
    </div>

</div>

<div class="row">

    <div class="col-md-12 form-group">
        <input placeholder="descrição" class="form-control" [(ngModel)]="produtoService.currentProduto.descricao">
    </div>

</div>

<div class="row">

    <div class="col-md-6">
        <!--
          <select [(ngModel)]="emp">
            <option *ngFor="let emp of allEmployee" [value]="emp.descricao">{{emp.descricao}}</option>
          </select> -->
        <select [(ngModel)]="produtoService.currentProduto.categoria" style="margin-bottom: 15px; border-radius: 10px;">
            <option>Selecione categoria...</option>
            <option>Informatica</option>
            <option>Material</option>
            <option>Móvel</option>
        </select>

    </div>

</div>


<div class="row">

    <div class="col-md-4">
        <button class="btn btn-success btn-block btn-lg" (click)="createAndUpdate(produtoService.currentProduto)"><i
                class="fa fa-save"></i>Save</button>
    </div>

    <div class="col-md-4">
        <button class="btn btn-primary btn-block btn-lg"><i class="fa fa-retweet"></i>Clear</button>
    </div>

    <div class="col-md-4">
        <button class="btn btn-danger btn-block btn-lg" type="button" onClick="history.go(0)"><i class="fa fa-refresh"></i>Atualizar</button>
    </div>
    
</div>