
.hero{
  height: 100vh;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}

.nav-bar{
  display: flex;
  padding: 40px 120px;
}

.nav-logo img{
  width: 135px;
}

.nav-links{
  flex:1;
}

.nav-links ul{
  margin-left: 50px;
  display: inline;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}

.nav-links ul a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.nav-links ul li::after{
  content: '';
  width: 0;
  height: 2px;
  background: lightblue;
  display: block;
  margin: auto;
  transition: .5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.btn{
  padding: 10px 20px;
  border: 0;
  background: yellow;
  font-weight: bold;
  cursor: pointer;
}

.nav-links .btn{
  float: right;
}

.vertical-bar{
  height: 100%;
  background : #000;
  top:0;
  left:0;
  position: absolute;
}

.search-icon{
  height: 60%;
  width: 80px;
}

.search-icon .fa{
  margin: 45px 23px;
  display: block;
  color:#fff;
  font-size: 30px;
  cursor:pointer;
}

.social-icons{
  height:35%;
  width: 80px;
  background: lightblue;
  text-align: center;
  padding-top: 27%;
  bottom: 0;
  position: absolute;
}

.social-icons .fa{
  margin: 15px 23px;
  display: block;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.banner{
    padding: 1rem 1rem;
    margin-bottom:50px;
}

.banner h2{
  text-align:center;
  color:lightblue;
  font-size:50px;
}

.crud{
  margin-bottom:20px;
}

.row h1 .crud::after,
.banner h2::after{
  content: '';
  width: 0;
  height: 2px;
  background: lightblue;
  display: block;
  margin: auto;
  transition: .5s;
}

.row h1 .crud:hover::after,
.banner h2:hover::after{
  width: 40%;
}
.welcome-home{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: lightblue;
    border-radius: 0.3rem;
}

.welcome-home h1{
  font-weight: 800;
}

